.flex-box,
.flex-b-sc,
.flex-b-ec,
.flex-b-cc,
.flex-b-sbc,
.flex-b-sac {
  display: flex;
}

.jc-s,
.flex-b-sc {
  justify-content: flex-start;
}

.jc-e,
.flex-b-ec {
  justify-content: flex-end;
}

.jc-ce,
.flex-b-cc {
  justify-content: center;
}

.jc-sb,
.flex-b-sbc {
  justify-content: space-between;
}

.jc-sa,
.flex-b-sac {
  justify-content: space-around;
}

.ai-s {
  align-items: flex-start;
}

.ai-ce,
.flex-b-sc,
.flex-b-ec,
.flex-b-cc,
.flex-b-sbc,
.flex-b-sac {
  align-items: center;
}

.as-s {
  align-self: flex-start;
}

.as-e {
  align-self: flex-end;
}

.fd-col {
  flex-direction: column;
}

.fw-wr {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
  /* width: 0;  写上这个是为了防止子元素撑开父元素，但是，如果写在这里会比较不方便 */
}

.flex-2 {
  flex: 2;
}
